* {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

}


body {
    background-color: #ececec;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
     margin-top: 100px;
 
    
}


.Box {
    width: 90%;
    height: 600px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px;    
}

#inputList {
    width: 80%;
    height: 46px;
    vertical-align: middle;
    border: none;
    background-color: rgb(236, 236, 236);
    border-bottom: 1px black;
}



#AddToDo {

    height: 50px;
    border: none;
    vertical-align: middle;
    background-color: #FFA500;
    color: white;
    padding: 10px;
 
}

#AddToDo:hover {

    
    border: 1px solid #FFA500;    
    color: #FFA500;
    background-color: white;
}



.to-dos {
    margin-top: 30px;
  
}